/*** fix by cmd1152 ***/

/** defaults **/

body {
  background: #20201d;
  color: #a6a28c;
}
p {
  margin: 5px 0px 5px 0px;
}
input,
textarea {
  color: #a6a28c;
}
.message {
  border-left: 1px solid rgba(125, 122, 104, 0.5) !important;
}
.refmessage {
  border-left: 1px solid rgba(125, 122, 104, 1) !important;
}
.nick {
  color: #6684e1;
}
.trip {
  color: #6e6b5e;
}
.text a {
  color: #e8e4cf;
}
.admin .nick {
  color: #d73737;
}
.mod .nick {
  color: #1fad83;
}
.me .nick {
  color: #b854d4;
}
.info .nick,
.info .text {
  color: #60ac39;
}
.warn .nick,
.warn .text {
  color: #cfb017;
}
#footer {
  background: #20201d;
}
#sidebar {
  background: #292824;
  border-color: #7d7a68;
}
#chatform {
  border-color: #7d7a68;
  padding: 0px !important
}


/** customizations **/

:root {
  color-scheme: dark!important;
  scrollbar-color: #8e8e8e #151515;
}

html {
  font-family: 'Courier New', 'Consolas', 'Lucida Console', 'Menlo', Courier, monospace;
}
body, #footer, #sidebar {
  background: #050505;
}
article.container {
  min-height: calc(100vh - 95px);
  width: 100%;
  max-width: calc(100% - 264px);
  margin: 36px 36px 0em 36px;
  overflow: hidden;
  border: 2px solid gray;
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 2px;
}
/*.hidden {
  display: inherit;
}*/
@keyframes changeColors {
  0%, 100% {
    background-color: initial;
  }
  0.1% {
    background-color: #0d1b62;
  }
  99.9% {
    background-color: #0d1b62;
  }
}
.message {
  animation-name: changeColors;
  animation-duration: 10s;
  animation-timing-function: steps(1, start);
  animation-iteration-count: 1;
}

#pin-sidebar {
  display: none;
}
label[for=pin-sidebar] {
  display: none;
}
#messages {
  padding: 0;
  border-bottom: 0;
}
#messages::after {
  width: 100%;
  max-width: calc(100% - 270px);
  position: absolute;
  display: block;
  top: 15px;
  left: 36px;
  height: 14px;
  padding: 2px 3px;
  content: "#programming [+ver 1.0] :: https://hack.chat - The Next Frontier of Unknown Pleasures";
  border: 2px solid gray;
  border-bottom: 2px solid gray;
  background: linear-gradient(to right, #000080, #1084d0);
  color: white;
  font-size: 12px;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#messages > :first-child {
  background: #1f71a4!important;
}
#sidebar {
  width: 195px;
  height: 100%;
}
#users li {
  list-style-type: none!important;
  margin-left: -1.3em;
  margin-top: 0.5em;
}
#sidebar-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content:start;
  align-items:baseline;
}
#sidebar-content hr {
  display:none;
}
#sidebar-content button {
  border-radius: 0;
  margin-bottom: 0.5em;
}
#sidebar-content select {
  border-radius: 0;
  margin-bottom: 0.3em;
}
#users-div { /*尽量不按顺序来定位，定位user-div的上一个元素的top加margin（因为是倒序排序，top和bottom反了）相当于在user-div的bottom加margin*/
  margin-bottom: 100vh; /* 想不到怎么修这个问题，看起来是想往下滚才可以看见设置按钮，但是怎么设置都不保险，直接改成 100vh*/
}
#users-div>h4, #users-div>p, #sidebar-content > div:nth-child(1) {
  display: none !important;
}


/* chat form */
#footer {
  margin-bottom: 0px;
}
#footer .container {
  margin: 0 0 0 3em;
  border: 2px solid gray;
  max-width: calc(100% - 22em);
  overflow: hidden;
}
#chatinput {
  padding: 6px;
  /*overflow-y: hidden;*/
  min-height: 4em;
}

/* chat room */
pre {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0em;
  overflow: hidden;
  padding: 0.1rem;
  font-weight: 400;
  background: #1d1f21;
  border: 0;
  border-radius: 3px;
  width: calc(100% - 17em);
}
.message {
  position: relative;
  border: 0 !important;
  padding: 0.2em 0;
}
.message .nick {
  display: inline-block;
  text-align: right;
  margin-left: 6.6em;
  width: 226px;
}
.trip {
  display: inline-block!important;
  width: 6em;
  text-align: right;
  margin-right: 0.75em;
}
.nick > a {
  font-weight: bold;
  display: inline-block;
}
.nick > a::before {
  display: inline;
  content: attr(title);
  font-weight: normal;
  margin-left: -5.8em;
  position: absolute;
  left: 72px;
}
/* Missing trip */
.message .nick a:only-child {
  margin-left: 5.5em;
}
.message .nick a::after {
  content: "";
  position: absolute;
  margin-top: 1px;
  margin-left: 0.6em;
  height: calc(100% - 6px);
  width: 2px;
  background-color: black;
}
/* system */
.message.info {
  background: #2a7550!important;
}
.message.info * {
  color: black!important;
}
.message.warn {
  background: #887221!important;
}
.message.warn * {
  color: black!important;
}
.info > .nick {
  margin-left: 6.6em;
}
.info > .nick > :only-child {
  margin-left: 15em;
}
.message.info .nick a::after, .message.warn .nick a::after {
  color: black;
}
/* misc */
.text > p {
  line-height: 1.2em !important;
  width: calc(100% - 20px);
  display: inline-block;
  margin-left: 0.5em;
}
.text > pre, .text > blockquote:first-child {
  display: block;
  margin: 6px 0 5px 6px;
  width: calc(100% - 2.3em);
}
.text > ol {
  margin-left: 20px;
}
.message .text:not(:first-child) {
  width: auto;
  margin-left: 320px;
}